@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
.App {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url("https://i.ibb.co/G7KwLGs/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Muli", sans-serif;
}

.info {
  text-align: center;
  display: grid;
  place-items: center;
  width: 500px;
  min-height: 60px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.navBar {
  min-height: 60px;
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.navTopBar {
  height: 50px;
  width: 500px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 5px;
  height: 30px;
  width: 60px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  color: white;
}

.btnBlock {
  display: flex;
  padding: 10px;
  margin: 10px;
}

li {
  list-style-type: none;
}

.subinfo {
  height: 50px;
  width: 60vh;
}

.btn {
  padding: 5px;
  margin: 5px;
  height: 30px;
  width: 60px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  color: white;
}

form {
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  color: white;
}
